#contato{
    background: linear-gradient(180deg, rgba(74, 184, 81, 0) 40%, rgba(74,184,81,1) 40%);
}

.contato-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: auto;
    /* padding: 0 88px; */
}

.contato-img{
    padding-bottom: 40px;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
}
.contato-img img{
    height: 480px;
    width: 400px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(63, 62, 62, 0.54);
    overflow: hidden;
}

.contato-content{
    grid-row: 2;
    display: grid;
    padding-bottom: 40px;
}

.contato-title{
    position: relative;
    z-index: 1;
}

.contato-title::before{
    content:'';
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left:-16px;
    z-index: -2;
    box-shadow:  3px 3px 6px #319114,
                -3px -3px 6px #6cd24d;
}

.contato-content p{
    margin:20px 0;
}

.contato-email{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:8px;
}

.contato-email img{
    width: 20px;
    height: 20px;
}

.contato-redes{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    gap:12px;
}

.contato-redes a img{
    width: 40px;
}

@media (max-width:770px){
    .contato-container{
        display: flex;
        flex-direction: column;
    }

    .contato-img img{
        margin: auto;
        height: 350px;
        object-position: top;
    }
    
    .contato-content{
        padding: 0px 18px;
    }
}

@media (max-width:575px){
    .contato-container{
        padding: 0;
        margin: 0;
    }
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--cor-c12);
    text-align: center;
    color: var(--cor-c2)
}
