header{
    padding-top: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    align-items: baseline;
}

header .nav-lko{
    max-width: 100vw;
    border-bottom: 3px solid var(--cor-c1);
    background-color: var(--cor-c1);
}

header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

header ul li a.nav-link{
    color: var(--cor-c12);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.25rem;
}

header ul li a.nav-link .active{
    color: var(--cor-pbd);
}

.offcanvas-lko{
    border-bottom: 1px solid lightgrey;
}