.cor-p{
    color: var(--cor-p);
}

.cor-pd{
    color: var(--cor-pd);
}

.cor-pl{
    color: var(--cor-pl);
}

.cor-w{
    color: white;
}

.cor-c1{
    color: var(--cor-c1);
}

.cor-c2{
    color: var(--cor-c2);
}

.cor-c3{
    color: var(--cor-c3);
}

.cor-c4{
    color: var(--cor-c4);
}

.cor-c5{
    color: var(--cor-c5);
}

.cor-c6{
    color: var(--cor-c6);
}

.cor-c7{
    color: var(--cor-c7);
}

.cor-c8{
    color: var(--cor-c8);
}

.cor-c9{
    color: var(--cor-c9);
}

.cor-c10{
    color: var(--cor-c10);
}

.cor-c11{
    color: var(--cor-c11);
}

.cor-c12{
    color: var(--cor-c12);
}







